In [1]:
import pandas as pd
import os
from sqlalchemy import create_engine

In [2]:
csv_path = "data/CO2_Emissions.csv"
CO2_df= pd.read_csv(csv_path, encoding="utf-8")
CO2_df.head()

,Year,Country,Total,Solid Fuel,Liquid Fuel,Gas Fuel,Cement,Gas Flaring,Per Capita,Bunker fuels (Not in Total)
0,1751,UNITED KINGDOM,2552,2552,0,0,0,0,0.0,0
1,1752,UNITED KINGDOM,2553,2553,0,0,0,0,0.0,0
2,1753,UNITED KINGDOM,2553,2553,0,0,0,0,0.0,0
3,1754,UNITED KINGDOM,2554,2554,0,0,0,0,0.0,0
4,1755,UNITED KINGDOM,2555,2555,0,0,0,0,0.0,0

In [3]:
CO2_df_recent = CO2_df.loc[CO2_df["Year"] >= 1970]
CO2_df_recent.drop(labels =["Bunker fuels (Not in Total)"], axis = 1, inplace = True )

C:\Users\Salty\anaconda3\lib\site-packages\pandas\core\frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [4]:
from config import pg_user
from config import pg_key

connection_string = "{username}:{password}@localhost:5432/CO2"
engine = create_engine(f'postgresql://{connection_string}'.format(username=pg_user, password=pg_key))

In [5]:
#CO2_df_recent.to_sql("CO2_Table_Raw", engine)
CO2_df_recent.to_sql(name='CO2_Table_Raw', con=engine, if_exists='replace', index=False)